/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #1f1f1f;
}

/* ---------- Navbar ---------- */
.navbar {
  width: 100%;
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #1f9aad;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #0b132b;
}

/* ---------- Button (global) ---------- */
.theme-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.2s ease;
}

.theme-btn:hover {
  background-color: #1e40af;
}

.theme-btn:active {
  transform: scale(0.96);
}

/* ---------- Sections ---------- */
.section {
  width: 100%;
  padding: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #6f9ec8;
}

.section h1 {
  font-size: 42px;
  font-weight: 600;
  color: #000000;
}
.section1{
  display: flex;
  gap: 20px;
  align-items: center;
}
/* ---------- Footer ---------- */
.footer {
  width: 100%;
  height: 160px;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5d7ebe;
  transition: all 0.3s ease;
}

/* Light Theme Footer */
.footer.light {
  background-color: #e5e7eb;
  color: #0f172a;
}

/* Dark Theme Footer */
.footer.dark {
  background-color: #0b132b;
  color: #ffffff;
}

.footer h1 {
  font-size: 26px;
  font-weight: 600;
}

.footer h2 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
