*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
   
    height: 100%;
    width: 100%;
}
#main{
     background-color: lightblue;
    height: 100%;
    width: 100%;
     display: flex;
      align-items: center;
    justify-content: center;
   
    
}
#inside {
  height: 350px;
  width: 250px;
  background: white;
  border-radius: 15px;
  
}
#inside > img {

  height: 150px;
  width: 100px;
  object-fit: cover;
    
  border-radius: 500px;
}
